.auth-box {
  @include flex-centrer;
  flex-direction: column;
  border: solid 1px black;
  padding: 20px;
  border-radius: 15px;
  box-shadow: $small-shadow;
  width: 350px;
}

.auth-select-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  width: 75%;
}

.form-group {
  border: 2px solid purple;
}
