.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100vh;
  &-redirection {
    @include card-style;
    padding: 1rem;
  }
}
