.btn-add-post {
  margin: 50px 0;
}
.post-form {
  position: relative;
  width: 90%;
  max-width: 800px;
}
.post-form-card {
  display: flex;
  flex-direction: column;
  @include card-style;
  padding: 25px;
  textarea {
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px;
    width: 75%;
  }

  .post-form-button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 15px;
    align-self: center;
  }
}
.post-card {
  @include flex-center(column);
  width: 90%;
  max-width: 800px;
  margin: 25px 0;
  @include card-style;
  &-header {
    @include flex-center;
    padding: 15px 0;
    justify-content: space-between;
    border-bottom: 2px solid $color-2;
    width: 90%;
    .author {
      display: flex;
      flex-direction: column;
      p {
        padding: 5px;
      }
    }
    .btn-post-header {
      @include flex-center;
      justify-content: space-around;
      width: 10%;
      margin-right: 2%;
      cursor: pointer;
    }
  }
  .post-img {
    width: 90%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: $small-shadow;
    margin: 15px 0 25px 0;
  }
  .post-title {
    font-size: 1.75rem;
    font-weight: 900;
    font-style: italic;
    align-self: flex-start;
    width: 90%;
    padding-bottom: 15px;
    margin: 15px 0 15px 5%;
    border-bottom: 2px solid $color-2;
    @include mobile {
      font-size: 1.5rem;
    }
  }
  .post-content {
    color: $color-1;
    width: 90%;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid $color-2;
    box-shadow: $small-shadow;
    padding: 20px;
  }
  .like {
    @include flex-center;
    &-selected {
      color: red;
      &:hover {
        color: $color-2;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  .post-modification-date {
    margin-bottom: 15px;
  }
}
