.profil-card {
  @include card-style;
  @include flex-center(column);
  width: 90%;
  max-width: 800px;
  padding: 15px;
  margin: 30px 0;
  h1 {
    margin-bottom: 0;
    font-size: 2rem;
  }
}
.profil-avatar-box {
  @include flex-center(column);
  width: 100%;
  padding: 15px;
}
.profil-email-box {
  @include flex-center(column);
  width: 100%;
}
.profil-name-box {
  @include flex-center(column);
  width: 100%;
}
.profil-bio-box {
  @include flex-center(column);
  width: 100%;
}
.profil-bio-text {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 150px;
  padding: 15px;
  margin-top: 15px;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid $color-1;
  border-radius: 15px;
  background-color: $color-4;
  @include mobile {
    width: 75%;
  }
}
.profil-inscription-date-box {
  @include flex-center(column);
  width: 100%;
}
.profil-role-box {
  @include flex-center(column);
  width: 100%;
}
.profil-password-box {
  @include flex-center(column);
  width: 100%;
}
.password-edition-form {
  @include flex-center(column);
  width: 100%;
  margin-top: 30px;
}
.profil-delete-button-box {
  @include flex-center(column);
  width: 100%;
  .btn:hover {
    background-color: $color-2;
  }
}

.profil-body-form {
  width: 100%;
  label {
    font-weight: 900;
  }
  input {
    margin-bottom: 15px;
  }
  &-card {
    display: flex;
    flex-direction: column;
  }
  &-button {
    align-self: center;
    width: 25%;
    @include mobile {
      width: 50%;
    }
  }
  .text-danger {
    margin-bottom: 15px;
  }
}
