.avatar {
  border-radius: 999px;
  border: 1px solid black;
  box-shadow: $small-shadow;
  object-fit: cover;
  -o-object-fit: cover;
  object-position: 50%;
  -o-object-position: 50%;
  &-post-author {
    width: 60px;
    height: 60px;
  }
  &-profil {
    width: 150px;
    height: 150px;
    margin: 15px;
  }
  &-form-card {
    @include flex-center(column);
  }
}

.comment-body-avatar,
.user-card-avatar {
  width: 56px;
  height: 56px;
}
