.btn {
  width: auto;
  padding: 10px 20px;
  color: $color-1;
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  box-shadow: $small-shadow;
  background-color: $color-4;
  cursor: pointer;
  transition: 0.3s ease-out;
  &:hover {
    color: #fff;
    background-color: $color-1;
  }
  &-submit {
    margin-top: 10px;
    font-weight: 500;
    font-size: 100%;
  }
  &-cancel:hover {
    background-color: $color-2;
  }
  &-validate:hover {
    color: $color-1;
    background-color: $color-5;
  }
}

.active-btn {
  color: white;
  font-weight: bold;
  background-color: $color-2;
}

.btn-close {
  position: absolute;
  top: 5%;
  right: 2.5%;
  padding: 6px;
  font-size: 0.8rem;
  font-weight: 700;
  border-radius: 999px;
}

// TODO revoir les propriétés

.scroll-btn {
  position: fixed;
  bottom: 10%;
  right: 10%;
  width: 45px;
  font-size: 3rem !important;
  z-index: 10;
  cursor: pointer;
}
