.comment-box {
  @include flex-center(column);
  width: 90%;
  margin-bottom: 30px;
  border-top: 2px solid $color-2;
}

.comment-content-box {
  @include flex-center(column);
  width: 100%;
}
.comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  &-buttons {
    display: flex;
  }
  i {
    font-size: 0.85rem;
    &:hover {
      cursor: pointer;
    }
  }
}
.comment-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  &-content {
    width: 90%;
    padding: 20px;
    color: $color-1;
    border-radius: 15px;
    border: 1px solid $color-2;
    background-color: #fff;
    box-shadow: $small-shadow;
    white-space: pre-wrap;
    word-wrap: break-word;
    @include mobile {
      max-width: 78%;
    }
  }
}
.comment-modification-date {
  align-self: flex-end;
  margin: 5px 10px 0 0;
  font-size: 0.75rem;
}
