.text-danger {
  color: red;
  font-style: italic;
  font-size: small;
  width: 180px;
}

label {
  font-style: italic;
}

input {
  outline: none;
  border: none;
  border-bottom: 1px solid $color-2;
  padding: 5px;
  margin: 10px 0;
  background-color: transparent;
}

.label-file {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 15px;
}
// .input-file {
//   display: none;
// }
