.text-danger {
  color: red;
  font-style: italic;
  font-size: small;
}

label {
  font-style: italic;
}

input {
  outline: none;
  border: none;
  border-bottom: 1px solid $color-2;
  padding: 5px;
  margin: 10px 0;
  background-color: transparent;
}

.form-post-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
}

.label-file {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 15px 0;
}

.input-file-wrapper {
  margin: 20px 0;
  position: relative;
}
// * INFO cacher l'input file de base:

.input-file-input {
  position: absolute;
  opacity: 0;
}
.input-file-error {
  margin-top: 20px;
}
.text-area-box {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex start;
  @include mobile {
    width: 100%;
  }
}
.input-text-area {
  resize: none;
  outline: none;
  width: 100%;
  background-color: $color-4;
  border: 1px solid $color-1;
  border-radius: 15px;
  padding: 15px;
}
.text-area-char-count {
  font-size: 0.75rem;
  font-style: italic;
  align-self: flex-end;
  margin-right: 10px;
  margin-top: 2.5px;
}
