.text-danger {
  color: red;
  font-style: italic;
  font-size: small;
  width: 180px;
}

label {
  font-style: italic;
}

input {
  outline: none;
  border: none;
  border-bottom: 1px solid $color-2;
  padding: 5px;
  margin: 10px 0;
  background-color: transparent;
}

.form-post-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
}

.label-file {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 15px 0;
}

// todo decommenter:
.input-file {
  display: none;
}
.input-text-area {
  resize: none;
}
