.loader {
  @include flex-center(column);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  .fas,
  p {
    max-width: 90%;
    color: $color-4;
    font-size: 2rem;
  }
}
