.modal-wrapper {
  @include flex-center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  @include flex-center(column);
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  min-height: 150px;
  padding: 15px;
  border-radius: 15px;
  &-message {
    padding: 25px;
    p {
      margin: 0;
    }
    hr {
      margin: 10px;
      border: none;
    }
  }
}
.confirmation-modal {
  text-align: center;
  line-height: 1.25rem;
  border: 5px solid $color-2;
  background-color: $color-4;
  i {
    padding: 10px;
    color: $color-2;
    font-size: 2rem;
  }
  .btn {
    margin: 10px;
  }
}
.validation-modal {
  padding: 20px;
  text-align: center;
  border: 5px solid #4da760;
  background-color: #a8d6b2;
  i {
    padding: 10px;
    font-size: 2rem;
    color: #4da760;
  }
  .btn {
    margin-top: 30px;
  }
}

.comment-edition-modal {
  width: 90%;
  max-width: 800px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.75);
  @include mobile {
    height: 500px;
  }
  .btn-close {
    position: absolute;
    top: 10%;
    right: 2.5%;
    @include mobile {
      top: 5%;
      right: 5%;
    }
  }
  .text-area-input {
    height: 250px;
  }
}
.avatar-edition-modal {
  @include card-style;
  padding: 30px;
  img {
    width: 150px;
    height: 150px;
    border-radius: 999px;
  }
}
.profil-body-edition-modal {
  align-items: flex-start;
  width: 75%;
  max-width: 800px;
  padding: 40px;
  background-color: $color-4;
  @include card-style;
  .btn-close {
    position: absolute;
    top: 5%;
    right: 5%;
  }
}
.password-edition-modal {
  padding: 30px;
  background-color: $color-4;
  .btn-close {
    position: absolute;
    top: 5%;
    right: 5%;
  }
}
