.modal-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modal {
  @include flex-center(column);
  justify-content: space-around;
  width: 300px;
  padding: 25px;
  min-height: 150px;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.validation-modal {
  background-color: #a8d6b2;
}

.confirmation-modal {
  background-color: $color-4;
  text-align: center;
  line-height: 1.25rem;
  .btn {
    margin: 15px 10px 0 10px;
  }
}
