.modal-wrapper {
  @include flex-center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modal {
  @include flex-center(column);
  justify-content: space-around;
  width: 300px;
  padding: 15px;
  min-height: 150px;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &-message {
    padding: 25px;
    p {
      margin: 0;
    }
    hr {
      border: none;
      margin: 10px;
    }
  }
}
.confirmation-modal {
  background-color: $color-4;
  text-align: center;
  line-height: 1.25rem;
  border: 5px solid $color-2;
  i {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 2rem;
    color: $color-2;
  }
  .btn {
    margin: 10px;
  }
}
.validation-modal {
  background-color: #a8d6b2;
  padding: 30px;
}

.password-edition-modal {
  background-color: $color-4;
  padding: 30px;
  .btn-close {
    position: absolute;
    top: 5%;
    right: 5%;
  }
  form {
    @include flex-center(column);
  }
}

.avatar-edition-modal {
  background-color: $color-4;
  padding: 40px;
  .btn-close {
    position: absolute;
    top: 5%;
    right: 5%;
  }
  form {
    @include flex-center(column);
  }
  img {
    border-radius: 999px;
    width: 150px;
    height: 150px;
  }
}
