.thumbnail-wrapper {
  position: relative;
  margin: 15px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.thumbnail {
  width: auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: $small-shadow;
  max-height: 200px;
}
