.thumbnail-wrapper {
  position: relative;
  margin: 15px 0;
}
.thumbnail {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: $small-shadow;
}
.thumbnail-post {
  width: 45%;
}
.thumbnail-avatar {
  width: 75%;
}
